{# Header - layouts/partials/header.html.heex }
<PoliciaWeb.Partials.header current_path={@conn.request_path} current_user={@current_user} />

<div class="bg-blue-50 py-8 md:py-12">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Flash Group para mensajes del sistema -->
    <.flash_group flash={@flash} />
    
<!-- Contenido dinámico de la página -->
    {@inner_content}
  </div>
</div>

{# Footer - layouts/partials/footer.html.heex }
<PoliciaWeb.Partials.footer />
