{# Header - layouts/partials/header.html.heex }
<PoliciaWeb.Partials.header current_path={@conn.request_path} />

<.basic_content_layout title={@page_title} subtitle={@subtitle}>
  <:hero>
    <%= if assigns[:hero] do %>
      {render_slot(@hero)}
    <% end %>
  </:hero>

  <.flash_group flash={@flash} />

  {@inner_content}
</.basic_content_layout>

{# Footer - layouts/partials/footer.html.heex }
<PoliciaWeb.Partials.footer />
